<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MEAN Duty</a>
  </div>
</nav>

<div class="container p-4">

<app-duty></app-duty>
</div>
