<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <form #dutyForm="ngForm" (ngSubmit)="addDuty(dutyForm)"  >
          <input type="hidden" name="_id" [(ngModel)]="dutyService.selectedDuty._id" >
          <div class="form-group">

            <input name="Name" type="text" class="form-control" placeholder="enter your duty" required [(ngModel)]="dutyService.selectedDuty.Name"  >
          </div>
          <button (click)="resetForm(dutyForm)" class="btn btn-primary mr-2" >
            Clean
          </button>
          <button class="btn btn-secondary" >
            save
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-striped" >
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Id
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let duty of dutyService.duties" >
          <td>{{ duty.Name}}</td>
          <td>{{ duty._id}}</td>
          <td>
            <button (click)="editDuty(duty)"  class="btn btn-secondary btn-sm" ><i class="material-icons" >edit</i></button>
            <button (click)="deleteDuty(duty._id)"  class="btn btn-danger btn-sm " ><i class="material-icons" >delete</i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
